<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->
<mapper namespace="com.example.mapper.UserMapper">
    <!--select查询语句，注意返回类型-->
    <select id="getUserList" resultType="com.example.pojo.User">
        select * from user where id = '1';
    </select>

    <select id="getUserList1" resultType="com.example.pojo.User">
        select * from user where id = '3';
    </select>

</mapper>