<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->
<mapper namespace="com.example.mapper.UserMapper">
    <!--
        它在命名空间 “com.example.mapper.UserMapper”
        中定义了一个名为 “getUserList” 的映射语句
        此处id需要与方法名一致
        parameterType  参数类型
        resultType   结果类型
    -->
    <!--select查询语句，注意返回类型-->
    <select id="getUserList"  resultType="com.example.pojo.User">
        select * from user ;
    </select>

    <!--查询一个用户-->
    <select id="getUserById" parameterType="int" resultType="com.example.pojo.User">
        select * from mybatis.user where id = #{id};
    </select>
</mapper>